html, body {
  font-family: var(--font-main-light), sans-serif;
}

section {
  background-color: lightcyan;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5em auto;
  padding: 20px;
  width: 80%;
}

.side-content {
  box-sizing: border-box;
  padding: 20px;
}  

.base .side-content {
  box-sizing: border-box;
  font-size: 38px;
  background-color: aquamarine;
  padding: 20px;
}