html, body {
  font-family: var(--font-main-light), sans-serif;
}

section {
  background-color: lightcyan;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5em auto;
  padding: 20px;
  width: 80%;
}

.side-content {
  box-sizing: border-box;
  padding: 20px;
}  

.base .side-content {
  box-sizing: border-box;
  font-size: 38px;
  background-color: aquamarine;
  padding: 20px;
}

.sticky .side-content,
.navigation .side-content {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}

.sticky .side-content > div {
  font-size: 40px;
}

.sticky ss-side-sticky,
.navigation ss-side-sticky {
  background-color: var(--color-surface);
  bottom: 0;
  position: sticky;
}

.navigation .slide {
  width: 100%;
}

.navigation .back {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 21;
}